 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.header {
    padding: 40px;
}

.container {
    width: 1200px;
    height: 900px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.customer-card {
    width: 300px;
    height: 300px;
    text-align: center;
}

.customer-card > img {
    border-radius: 10px 100px / 120px;
    padding: 2px;
}

.customer-card > h1 {
    font-size: 25px;
    text-transform: capitalize;
    
}

.customer-card > p {
    color: gray;
    font-size: 15px;
    padding: 5px;
}

.customer-card > h2 {
   font-size: 14px;
   font-weight: lighter;
}







